@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, span{
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

li{
    list-style-type: none;
}

/* NAVIGATION BAR */

nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    color: #242424;
    font-weight: 700;
}

.nav__link--anchor-primary {
    padding: 8px 20px;
    background-color: #6030b1;
    border-radius: 50px;
    color: #fff;
    transition: all .003ms ease-in-out;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff}

.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: 700;
}

.about-me__picture--mask {
    width: 10%;
    height: 10%;
    border-radius: 50%;
}